@using Kendo.Mvc.UI
@using QTasMarketing.Web.Areas.Admin.Models.Content
@model QTasMarketing.Web.Areas.Admin.Models.Content.GroupViewModel
@{
    ViewData["Title"] = "ایجاد گروه ها";
    Layout = "~/Views/Shared/_AdminLayOut.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal"}))
{
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("List")"><i class="fa fa-dashboard "></i> ایجاد گروه</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <div class="row">
                    <div class="text-left">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save fa-lg"></i>ذخیره</button>

                        <a href="@Url.Action("List")" class="btn btn-default"><i class="fa fa-backward fa-lg"></i>بازگشت</a>
                    </div>
                </div>
            </div>
          @await Html.PartialAsync("_CreateOrUpdate")
        </div>

    </section>
}

