@using Kendo.Mvc.UI
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
        @(Html.Kendo().Grid<contentp>()      )
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
           اضافه کردن تصویر جدید
        </div>
        <div class="panel-body">
            
         </div>
    </div>
</div>